<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourname.expenseapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Expense Tracker</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
<uses-permission android:name="android.permission.RECORD_AUDIO" />
<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

<plugin name="cordova-plugin-media" spec="^5.0.2" />
<plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />
<plugin name="cordova-plugin-speechrecognition" spec="^1.2.0" />
</widget>
